@import "tailwindcss" ;
@import "@nuxt/ui";

@theme static {
  --font-manrope: "Manrope", sans-serif;
  --container-8xl: 100rem;
}

* {
  scroll-behavior: smooth;
  overscroll-behavior: contain;
  font-family: var(--font-manrope);
}

:root {
  --ui-primary: black;
  --ui-container: var(--container-8xl)
}

.dark {
  --ui-primary: white;
}